<!--
 * @Description: In User Settings Edit
 * @Author: JYK
 * @Date: 2019-08-06 21:05:21
 * @LastEditTime: 2019-08-12 20:46:45
 * @LastEditors: Please set LastEditors
 -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">
    <title>后台管理系统</title>
    <link href="/static/admin/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/admin/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admin/lib/bootstrap-tour/build/css/bootstrap-tour.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/admin/css/iconfont.css">
    <link rel="stylesheet" href="/static/admin/css/nav.css">
    <link rel="stylesheet" href="/static/admin/css/photosMessage.css">

    <link rel="shortcut icon" href="/static/admin/images/icon.png" type="image/x-icon">
</head>
<body>
<!-- 导航条开始-->
{include file="common:header"}
<!-- 导航条结束 -->
<div class="ch-container">
    <div class="row">
        <!-- 左侧导航栏开始-->
        {include file="common:left"}
        <!-- 左侧导航栏结束 -->

        <!--面包屑导航栏开始-->
        <ul class="breadcrumb">
             
            <li><a href="{:url('admin/index/index')}">首页</a></li>
             
            <li class="active">分类管理</li>
        </ul>
        <!--面包屑导航栏结束-->

        <!--内容开始-->
        <div class="col-sm-8 wm-table">
            <!--搜索开始-->
                <a href="{:url('admin/index/cateadd')}"><button type="button" class="btn btn-primary">添加分类</button></a>
            <!--搜索结束-->

            <!--表格开始-->
            <table>
                <tr>
                    <th>分类名称</th>
                    <th>分类所属</th>
                    <th>创建时间</th>
                    <th class="wm-tr1-th">详情操作</th>
                </tr>
                {volist name="cateList" id="cate"}
                <tr>
                    <td>{$cate.cate_name}</td>
                    <!--<td>{$cate.is_article}</td>-->
                    <td>{if $cate.is_article === 1}文章{else/ }相册{/if}</td>
                    <td>{$cate.create_time}</td>
                    <td>
                        <a href="{:url('admin/Index/cateedit',array('cid'=>$cate['cid']))}">
                            <button type="button" class="btn btn-primary">编辑
                            </button>
                        </a>
                        <button type="button" class="btn btn-danger" onClick="warning('确实要删除吗','{:url('admin/User/catedel',array('cid'=>$cate['cid']))}')">删除
                        </button>
                    </td>
                </tr>
                {/volist}
            </table>
            <!--表格结束-->

            <!--分页页码-->
            <div class="text-center">{$cateList|raw}</div>
            <!--分页页码-->
        </div>
        <!--内容结束-->

    </div>
</div>
<script src="/static/admin/js/index.js"></script>
<script src="/static/admin/js/jquery-1.12.4.min.js"></script>
<script src="/static/admin/js/plug.js"></script>
<script src="/static/admin/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/admin/js/jquery.cookie.js"></script>
<script src="/static/admin/lib/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
</body>
</html>